body, form, fieldset {
    margin: 0px;
    padding: 0px;
}

body, input, textarea, select, options, span, div, p, ul, ol, label, fieldset, legend, table, tr, td, th, li, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/*div {*/
/*text-align: left;*/
/*}*/

img, .border_0 {
    border: 0px;
}

.border_1 {
    border: 0px;
}

.no_underline {
    text-decoration: none;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_top {
    vertical-align: top;
}

fieldset {
    border: 1px solid #303030;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.clear_both {
    clear: both;
}

.align_right {
    text-align: right;
}

.link {
    cursor: pointer;
    *cursor: hand;
}

.help {
    cursor: help;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}

.align_justify {
    text-align: justify;
}

.vertical_middle {
    vertical-align: middle;
}

.clearer {
    clear: both;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    width: 1px;
}

.height {
    height: 40px;
}

.width95of100 {
    width: 95%;
}

.width100of100 {
    width: 100%;
}

.width200 {
    width: 200px;
}

.width300 {
    width: 300px;
}

.width400 {
    width: 400px;
}

.padding1 {
    padding: 1px;
}

.padding2 {
    padding: 2px;
}

.padding3 {
    padding: 3px;
}

.padding5 {
    padding: 5px;
}

.padding10 {
    padding: 10px;
}

.margin3 {
    margin: 3px;
}

.margin10 {
    margin: 10px;
}

.display_none {
    display: none;
}

.margin_top_3 {
    margin-top: 3px;
}

.margin_top_5 {
    margin-top: 5px;
}

.font_weight_normal {
    font-weight: normal;
}

.readonly {
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
}

.lightreadonly {
    background-color: #eeeeee;
    color: black;
    border: 1px solid #eeeeee;
}

.colorblue {
    color: #173248;
}

.colorviolet {
    color: #580081;
}

.colororange {
    color: #472400;
}

.colorred {
    color: red;
}

.colorgreen {
    color: green;
}

.colorblack {
    color: black;
}

.colorgray {
    color: gray;
}

.colorwhite {
    color: white;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.orange {
    background-color: #f98d00;
}

.border1 {
    border: 1px solid black;
}

.border1gray {
    border: 1px solid gray;
}

.border1green {
    border: 1px solid green;
}

.border1red {
    border: 1px solid red;
}

.border1orange {
    border: 1px solid #f98d00;
}

.lightgray {
    background-color: #f5f5f5;
}

.lightviolet {
    background-color: #E8D6FF;
}

.lightblue {
    background-color: #D2DFFF;
}

.lightyellow {
    background-color: #F5FF96;
}

.lightgreen {
    background-color: #E3FFE6;
}

.lightred {
    background-color: #FFCDCD;
}

.lightorange {
    background-color: #FFE4B2;
}

.white {
    background-color: #ffffff;
}

.gray {
    background-color: #dddddd;
}

.courier {
    font-family: courier;
}

.serif {
    font-family: serif;
}

.green {
    background-color: #D1FFD6;
}

.red {
    background-color: #FFC9C9;
}

.darkred {
    background-color: #B30000;
}

.yellow {
    background-color: #FFFF99;
}

.height_3 {
    height: 3px;
}

.height_100 {
    height: 100px;
}

.shortkeys {
    margin: 2px;
    text-decoration: underline;
    font-weight: bold;
    color: #00095B;
}

.no_wrap {
    white-space: nowrap;
}

.font8 {
    font-size: 8px;
}

.font9 {
    font-size: 9px;
}

.font10 {
    font-size: 10px;
}

.font11 {
    font-size: 11px;
}

.font12 {
    font-size: 14px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.error {
    color: red;
    font-style: italic;
}

.borderbottom1 {
    border-bottom: 1px solid black;
}

.uppercase {
    text-transform: uppercase;
}

.colorRed {
    color: red;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 10px;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    /*position: relative;*/
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

th {
    white-space: nowrap;
}

form div {
    margin-top: 5px;
}

.selectorArrow {
    display: none;
}

input[type=text].asbutton {
    border:1px outset #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
}

input[type=text].asbutton:focus {
    border-color:#333;
}

.border-red{
    border:1px solid red !important;
}
