html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/body_bg.png) repeat-y top left;
}

div#header {
    padding: 2px;
    border-bottom: 1px solid gray;
    /*background: #3d6cb1 url(../img/header_antilope_background.jpg) no-repeat top right;*/
    background-color: #99c251;
    text-align: left;
}

div#menu {
    float: left;
    height: 100%;
    text-align: left;
    font-size: 12px;
}

div.workframe {
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: 330px;
    background: white url(../img/welcome.png) no-repeat;
    border: 10px solid #99c251;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*div#menu ul, li{
 margin:0px;
 padding:0px;
 list-style-type: none;
 }

 div#menu ul li a{
 display:block;
 padding:5px;
 }

 div#menu ul li a:hover{
 background-color:#E2FFD6;
 }

 div#menu ul li a#logout:hover{
 background-color:#FFDFDF;
 }

 div#menu ul li a img{
 margin-right:5px;
 }*/

div#area {
    text-align: left;
    overflow: auto;
    height: 100%;
}

div#login_div {
    width: 500px;
    margin: auto;
    border: 10px solid #99c251;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div#login_div input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    width: 95%;
    padding: 5px;
}

div#login_label {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    color: #666666;
    margin-bottom: 5px;
}

form#form_Login {
    padding: 25px;
}

div#login_logo {
    text-align: left;
}

form#form_Login .box_label_input {
    font-family: sans-serif;
    font-size: 14px;
    margin: 5px;
    width: 80px;
    float: left;
    text-align: left;
    color: #666666;
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

form {
    padding: 10px;
}

form div.float_left {
    float: left;
    width: 150px;
}

#valid_xhtml_box {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.LeftFrameSwitcher {
    position: fixed;
    float: left;
    top: 50%;
    width: 6px;
}

/* SISTEMAZIONE CSS */

#box_operation_buttons {
    padding: 5px;
}

/* BUTTONS */
a.button {
    background-color: #eef2ff;
    border: 1px outset #dddddd;
    cursor: pointer;
    /* cursor:hand;*/
    margin: 0;
    padding: 0px;
    padding-left: 2px;
    padding-right: 4px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
}

a.button:hover {
    background-color: white;
}

a.button img {
    vertical-align: middle;
    border: 0px;
    margin: 0px;
}

a.button span {
    vertical-align: middle;
    font-size: 12px;
}

a.button_help {
    cursor: help;
    border: 1px solid #eef2ff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding:5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

a.button_help:hover{
    background-color: #eef2ff;
}

/* FORM */

fieldset {
    padding: 10px;
    margin: 0px;
    border: 1px solid #aaa;
    margin-top:20px;
}

fieldset form {
    margin: 5px;
}

fieldset legend {
    font-size: 16px;
    font-weight: bold;
    margin: 3px;
    color: #666;
}

form {
    margin: 0px;
    padding: 0px;
}

label {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

textarea {
    font-size: 12px;
    color: black;
    border: 1px solid #aaa;
    padding: 4px;
    width:80%;
    font-weight: normal !important;
}

input {
    border: 1px solid #aaa;
    padding: 4px;
    font-size: 12px;
}

textarea, input, .crud_row {
    color: blue;
    font-weight: bold;
}

select {
    font-size: 12px !important;
}

select option {
    padding: 2px;
    border-bottom: 1px solid #aaa;
    font-size: 12px;
}

form div.input_foreign {
    display: table;
    *display: block;
    border: 1px solid gray;
    padding: 2px;
}

form div.button_box {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

form input.input_checkbox {
}

.label_checkbox {
    font-size: 12px;
    color: #333333;
}

/* TABLE */
div.table_box {
    padding: 10px;
}

div.table_box table {
    width: 100%;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0px;
}

div.table_box table th {
    background-color: #cccccc;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #CCCCCC;
    padding: 3px;
}

div.table_box table th a {
    color: black;
    padding: 2px;
    display: block;
    text-decoration: none;
}

div.table_box table th a:hover {
    color: white;
    background-color: #555555;
    /*text-decoration: underline;*/
}

div.table_box table td {
    border: 1px solid #CCCCCC;
    font-size: 12px;
    padding: 3px;
}

div.table_box table td.hover, div.table_box table tr.hover {
    background-color: #CDDEFF;
}

div.tableStat_box {
    padding: 10px;
}

div.tableStat_box table {
    width: 100%;
    border: 1px solid #bbbbbb;
    border-collapse: collapse;
    border-spacing: 0px;
}

div.tableStat_box table th {
    background-color: #dddddd;
    color: black;
    font-size: 10px;
    font-weight: normal;
    padding: 2px;
}

div.tableStat_box table td {
    font-size: 10px;
    padding: 2px;
}

div.tableStat_box table td.hover, div.tableStat_box table tr.hover {
    background-color: transparent;
    font-weight: bold;
    color: black;
    background-color: white;
    cursor: crosshair;
}

div.tableStat_box table td.hovercell {
    background-color: transparent;
    font-weight: bold;
    color: black;
    cursor: crosshair;
}

th.gray {
    background-color: #bbbbbb;
    color: black;
    font-size: 12px;
}

th.gray a {
    color: black;
    padding: 2px;
    display: block;
}

th.gray a:hover {
    color: white;
    background-color: #555555;
    text-decoration: underline;
}

th.black {
    background-color: black;
    color: white;
    font-size: 12px;
}

th.black a {
    color: white;
    padding: 2px;
    display: block;
}

th.black a:hover {
    color: black;
    background-color: #dddddd;
    text-decoration: underline;
}

td.black {
    background-color: black;
    color: white;
    font-size: 12px;
}

td.black a {
    color: white;
    padding: 2px;
    display: block;
}

td.black a:hover {
    color: black;
    background-color: #dddddd;
    text-decoration: underline;
}

/* AUTOCOMPLETE */
div.auto_complete {
    position: absolute;
    background-color: white;
    border: 1px solid #888;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    height: 200px;
}

ul.listRows {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.listRows li.selected {
    background-color: #ffb;
}

li.listRow {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    font-size: 10px;
}

/*li.listRow div.image {
 float:left;
 width:32px;
 height:32px;
 margin-right:8px;
 }
 li.listRow div.name {
 font-weight:bold;
 font-size:12px;
 line-height:1.2em;
 }
 li.listRow div.email {
 font-size:10px;
 color:#888;
 }*/

/* THICKBOX */
div.thickboxCaption {
    font-size: 14px;
    font-weight: bold;
    color: #999999;
    margin-bottom: 5px;
}

div.table_box table.infotable {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.infotable td.infotable-label {
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    border: 0px;
    width: 1%;
    color: #AAAAAA;
}

.infotable td.infotable-value {
    border: 0px;
}

table.infotable {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.infotablecluetip td.infotablecluetip-label {
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    border: 0px;
    width: 1%;
    padding: 5px;
}

.infotablecluetip td.infotablecluetip-value {
    border: 0px;
}

table.infotablecluetip {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.mandatory label {
    color: #99c251;
}

label.mandatory, legend.mandatory {
    color: #99c251;
}

.helplabel{
    color:darkgray;
    font-style:italic;
}

.esitoPositivo {
    border: 1px solid green;
    background-color: #E3FFE6;
    color: green;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
}

.esitoNegativo {
    border: 1px solid red;
    background-color: #FFCDCD;
    color: red;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
}

.esitoNeutro {
    border: 1px solid blue;
    color: blue;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
}

.modalFormOverflow {
    height: 425px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.modalFileFormOverflow {
    height: 225px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.no-title-dialog .ui-dialog-titlebar {
    display: none
}

.context-menu-icon {
    min-height: 16px;
    background-repeat: no-repeat;
    background-position: 8px 4px;
}

.context-menu-icon-filtertable {
    background-image: url(../img/icons/nuvola/16x16/actions/viewmag.png);
}

.context-menu-icon-addrecord {
    background-image: url(../img/icons/nuvola/16x16/actions/filenew.png);
}

.context-menu-icon-modifyrecord {
    background-image: url(../img/icons/nuvola/16x16/actions/pencil.png);
}

.context-menu-icon-trashrecord {
    background-image: url(../img/icons/nuvola/16x16/filesystems/trashcan_empty.png);
}

.context-menu-icon-restorerecord {
    background-image: url(../img/icons/nuvola/16x16/actions/wizard.png);
}

.context-menu-icon-duplicate {
    background-image: url(../img/icons/nuvola/16x16/actions/view_bottom.png);
}

.context-menu-icon-managefiles {
    background-image: url(../img/icons/nuvola/16x16/filesystems/folder_blue.png);
}

.context-menu-icon-activate {
    background-image: url(../img/icons/nuvola/16x16/actions/ledgreen.png);
}

.context-menu-icon-deactivate {
    background-image: url(../img/icons/nuvola/16x16/actions/ledred.png);
}

.tooltipster-custom-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.tooltipster-custom-body {
    font-size: 12px;
    max-height: 400px;
    width: 400px;
    overflow: auto;
}

tr:hover {
    background-color: #FFE4B2;
}

.FormBoxHeader {
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background: white url(../img/body_bg.png) repeat-y top left;
}

.FormBoxHeaderInside {
    width: 93%;
    margin: auto;
    margin-top: 20px;
    background: #eeeeee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #99c251;

}

.FormBoxContent {
    width: 93%;
    min-height: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.FormBoxContentInside {
    padding-top: 100px;
    padding-bottom: 100px;
}

.FormBoxFooter {
    height: 80px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background: white url(../img/body_bg.png) repeat-y top left;
}

.FormBoxFooterInside {
    width: 93%;
    margin: auto;
    margin-bottom: 20px;
    background: #eeeeee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px;
    text-align: right;
}

.selected_table_row {
    background: #c4dbe7;
}

.filter_grouplabel {
    background-color: #eee;
}

.ui-datepicker-trigger{
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 10px;
}